.box {
    width: 100px;
    height: 100px;
    background-color: rgb(223, 180, 180);
    animation-name: examplecolor;
    animation-duration: 5s;
    animation-iteration-count: 3;
  }
  @keyframes examplecolor {
    0% {
      background-color: blue;
    }
  
    20% {
      background-color: yellow;
    }
  
    40% {
      background-color: red;
    }
    60% {
      background-color: orange;
    }
    80% {
      background-color: purple;
    }
    100% {
      background-color: purple;
    }
  }
  .box2 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  
    background-color: purple;
  
    animation-name: radius;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  }
  @keyframes radius {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.5);
    }
    80% {
      transform: scale(1.5);
    }
  }
  .text {
    margin-left: 20px;
    padding-top: 40px;
  }

 .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  width: 44px;
  height: 44px;
}
.icon:hover  {
  background-color:  rgba(33, 150, 243, 1);
  }
 .icon:hover path {
  fill:  rgba(255, 255, 255, 1);
  }
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
 border: 1px solid rgba(175, 177, 184, 1)
  
}
.label:hover {
  border: 1px solid rgba(33, 150, 243, 1) ;
}
.label:hover path {
  fill:  rgba(33, 150, 243, 1);
  }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
 
 
  width: 44px;
  height: 44px;
  padding: 10px;
}
.brend {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
  background-color: #444141;
  width: 44px;
  height: 44px;
}
.brend:hover  {
  background-color:  rgba(33, 150, 243, 1);
  }










.special path {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);
  border: 1px solid rgba(175, 177, 184, 1)
}
.note path {
 display: inline;
 fill: rgba(117, 117, 117, 1);

  }
  .note:hover path {
    fill:rgba(33, 150, 243, 1);
    }
.text-note  {
  display: inline;
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
}
.text-note:hover {
  color: rgba(33, 150, 243, 1);

}
.tel {
  display: inline;
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;

}
.title {
margin: 0 auto;
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.add {
  position: relative;
  background-color:  rgba(47, 48, 58, 0.80);
  width: 370px;
  height: 70px;
 bottom:90px;
}
.for-text {
  position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate( -50%, -50%);
}

.img_two {
margin-left: 30px;
}
.add-two {
  position: relative;
  background-color:  rgba(47, 48, 58, 0.80);
  width: 370px;
  height: 70px;
  left:30px;
  bottom:90px;
}
.img_three {
  margin-left: 30px;
 
}
.add-three {
  position: relative;
  background-color:  rgba(47, 48, 58, 0.80);
  width: 370px;
  height: 70px;
  left:30px;
  bottom:90px;

}
.box1 {
  position: relative;
  z-index:1;
  width: 100px;
  height: 100px;
  background: palevioletred;
  left: 250px;
 
}
.box3 {
  position: relative;
  left: 310px;
 bottom:43px;
  z-index: 2 ;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}
.box4 {
  position: relative;
    width: 100px;
    height: 100px;
    background: green;
    left: 370px;
   bottom: 83px;
}

.container_tecnology {
  display: flex;
}
.container_studio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 80px;
  
  }
  .Web { 
   font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color:#2196F3 ; 
   }
  .studio {
   color: black;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
   }
   .link {
   display: flex;
   margin-left: 93px;
   color: #2196F3;
   font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  
   }
   .finger {
   width: 16px;
  height: 16px;
  margin-top: 27px;
  margin-left: -14px;
   }
   .text_note_two {
    color: #212121;
   }
   
   .letter {
  margin-left: 315px;
   }
   .info {
    margin-left: 14px;
   letter-spacing: 0.02em;
  }
  .finger_two {
    margin-top: 27px;
  margin-left: -90px;
  }
  .phone {
    margin-left: 120px;
  }
  .tel {
    margin-left: 14px;
    color: rgba(117, 117, 117, 1);
  }
  
  .effects_business {
   position:relative;
    width: 696px;

  height: 120px;
  bottom: 480px;
  left: 452px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  
  }
  .service {
   position: relative;
   width: 216px;
      height: 50px;
    font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px 0px #00000026;
  background: #2196F3;
  border-radius: 4px;
  border: none;
  bottom:480px;
  left: 692px;
  }
  
  .backdrop {
    background: #00000033;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
   
  }
  
  .backdrop.is-hidden {
    
    display: none;
  }
  
  .modal {
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
   
  }
  .note_information {
  position: relative;
  bottom: 35px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  }
  .text-name {
 position: relative;
 left: 25px;
 bottom: 40px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
  
  }
 input {
    position: relative;
  width: 448px;
  height: 40px;
 border-radius: 4px;
 bottom: 40px;
 left:25px;
 outline: 1px solid  rgba(33, 33, 33, 0.2);
 
  }
 

  .icon_inform {
  position:relative;
  bottom: 40px;
  right: 460px;
  }
  
  
  
  input:focus {
   border:1px solid  #2196F3 ;
  }
.dash:active path {
  fill: #2196F3;
}

 .dash input {
  padding-left: 40px;
 }
 

  .close  {
   border-radius: 50%;
    position: relative;
    left: 490px;
    padding: 6px;
    width: 18px;
    height: 18px;
    border:1px solid #0000001a;
  }
  .close:hover path {
   fill:#2196F3 ;
  }
 
  textarea {
    position: relative;
   margin-left: 25px;
   width: 448px;
   height: 120px;
   bottom:40px;
   border-radius: 4px;
   border: 1px solid rgba(33, 33, 33, 0.20);
  }
  textarea:focus {
    outline:1px solid  #2196F3 ;
  }
  .check {
    position: relative;
    width: 16px;
    height: 15px;
   
    bottom:90px;
  }
  .agree_text {
position: relative;
left: 73px;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
bottom:40px;
  }
  .contract {
    color:#2196F3 ;
  }
  .submit {
    position: relative;
    bottom: 35px;
    width: 200px;
    height: 50px;
    background-color:  #2196F3;
    box-shadow: 0px 4px 4px 0px #00000026;
    left: 130px;
    border: none;
  }
  .container_subscribe {
    position: relative;
  }
  .email {
    width: 358px;
    height: 50px;
  }
  .subscribe {
    position: relative;
    bottom: 40px;
    margin-left: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
     text-align: left;

  }
  .button_subscribe {
    position: relative;
    bottom: 35px;
    left: 30px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    border:none;
  }
  .text_subscribe {
    position: relative;
    font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
bottom: 10px;
right: 20px;
color: #FFF;

  }
  .telegram {
    position: relative;
    bottom: 50px;
    left: 60px;
  }